@model MotorcycleDeteilsViewModel

@{
    ViewData["Title"] = "Vehicle Details";
}
<div class="row g-0 bg-body-secondary position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
        <img src="@Model.ImageUrl" alt="Motorcycle image" class="card-img-top" style="width: 600px;" />
    </div>
    <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0">Vehicle Details</h5>
        <p>
            <strong>Vehicle Type:</strong> VehicleType<br>
            <strong>Make:</strong>@Model.Make<br>
            <strong>Model:</strong>@Model.Model<br>
            <strong>Year:</strong>@Model.Year<br>
            <strong>Price:</strong>@Model.Price<br>
            <strong>Color:</strong>@Model.Color<br>
            <strong>Fuel Type:</strong>@Model.FuelType<br>
        </p>
        <h6>Motorcycle Details</h6>
        <p>
            <strong>Kw: </strong>@Model.Kw<br>
        </p>
        <div>
            <a asp-action="Index" class="btn btn-primary me-2">Back</a>
            <a asp-action="AddToFavorite" class="btn btn-secondary">Add to favorite</a>
        </div>
    </div>
</div>