@model TruckDetailsViewModel

@{
    ViewData["Title"] = "Vehicle Details";
}
<div class="row g-0 bg-body-secondary position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
        <img src="@Model.ImageUrl" alt="Truck image" class="card-img-top" style="width: 600px;" />
    </div>
    <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0">Vehicle Details</h5>
        <p>
            <strong>Vehicle Type: </strong>@Model.VehicleType<br>
            <strong>Make: </strong>@Model.Make<br>
            <strong>Model: </strong>@Model.Model<br>
            <strong>Year: </strong>@Model.Year<br>
            <strong>Price: </strong>@Model.Price<br>
            <strong>Color: </strong>@Model.Color<br>
            <strong>Fuel Type:</strong>@Model.FuelType<br>
        </p>
        <h6>Truck Details</h6>
        <p>
            <strong>Cargo Capacity: </strong>@Model.CargoCapacity<br>
            <strong>Euro Number: </strong>@Model.EuroNumber<br>
            <strong>Transmission: </strong>@Model.Transmission<br>
            <strong>Horse Power: </strong>@Model.HorsePower<br>
            <strong>Description: </strong>@Model.Description
        </p>
        <div>
            <a asp-action="Index" class="btn btn-primary me-2">Back</a>
            <form asp-controller="FavoritesVehicle" asp-action="AddToFavorite" method="post" class="d-inline">
                <input type="hidden" name="vehicleId" value="@Model.VehicleId" />
                <button type="submit" class="btn btn-warning">Add To Favorite</button>
            </form>
        </div>
    </div>
</div>
