@using static VehicleShowroom.Common.EntityValidationConstants

@model  IEnumerable<ApplicationUserFavoriteList>

@{
    ViewData["Title"] = "Favorite";
}
<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h1>All vehicle in your favorite list vehicle</h1>
</div>

<div class="container">
    <div class="row">
        @foreach (var vehicle in Model)
        {
            <div class="card mb-3" style="max-width: auto;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="@vehicle.ImageUrl" alt="Car image" class="img-thumbnail mt-2" style="width: 600px;" />
                    </div>
                    <div class="col-md-8">
                        <h5 class="card-title">@vehicle.Make @vehicle.Model</h5>
                        <div class="card-body">
                            <h5 class="card-title">@vehicle.Make @vehicle.Model</h5>
                            <strong>Type:</strong> @vehicle.VehicleType<br />
                            <strong>Year:</strong> @vehicle.Year<br />
                            <strong>Price:</strong> @vehicle.Price<br />
                            <strong>Color:</strong> @vehicle.Color<br />
                            <strong>Fuel Type:</strong> @vehicle.FuelType<br />
                        </div>
                        <div>
                            <form asp-controller="FavoritesVehicle" asp-action="RemoveFromFavorite" method="post" class="d-inline">
                                <input type="hidden" name="vehicleId" value="@vehicle.VehicleId" />
                                <button type="submit" class="btn btn-warning">Remove Vehicle</button>
                            </form>
                            <a asp-controller ="Car" asp-action="Index" class="btn btn-primary me-2">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
