@using Microsoft.AspNetCore.Identity
@using VehicleShowroom.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model CarDetailsViewModel

<div class="container vehicle-details py-4">
    <div class="row g-4">
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <div class="vehicle-image-wrapper">
                <img src="@Model.ImageUrl" alt="Car image" class="vehicle-image" />
            </div>
        </div>

        <div class="col-12 col-md-6">
            <h5 class="mb-3 text-success">Vehicle Details</h5>
            <div class=" vehicle-info mb-3">
                <p><strong>Vehicle Type:</strong> @Model.VehicleType</p>
                <p><strong>Make:</strong> @Model.Make</p>
                <p><strong>Model:</strong> @Model.Model</p>
                <p> <strong>Year:</strong> @Model.Year</p>
                <p><strong>Price:</strong> @Model.Price</p>
                <p><strong>Color:</strong> @Model.Color</p>
                <p><strong>Fuel Type:</strong> @Model.FuelType</p>
            </div>

            <h6 class="text-success">Car Specifications</h6>
            <div class="vehicle-info mb-2">
                <p><strong>Kilometers:</strong> @Model.Kilometers</p>
                <p><strong>Number of Doors:</strong> @Model.NumberOfDoors</p>
                <p> <strong>Transmission:</strong> @Model.CarTransmission</p>
                <p><strong>HorsePower:</strong> @Model.CarHorsePower</p>
                <p><strong>Description:</strong> @Model.CarDescription</p>
            </div>

            <div class="d-flex flex-wrap gap-2 mt-3">
                <a asp-action="Index" class="btn btn-back">Back</a>
                <form asp-controller="FavoritesVehicle" asp-action="AddToFavorite" method="post" class="d-inline">
                    <input type="hidden" name="vehicleId" value="@Model.VehicleId" />
                    <button type="submit" class="btn btn-favorite">Add To Favorite</button>
                </form>

                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@Model.VehicleId" class="btn btn-edit">Edit Vehicle</a>
                    <a asp-action="Delete" asp-route-id="@Model.VehicleId" class="btn btn-delete">Delete Vehicle</a>
                }
            </div>
        </div>
    </div>
</div>
