@using VehicleShowroom.Data.Models
@using static VehicleShowroom.Common.EntityValidationConstants.Vehicle
@model IEnumerable<Vehicle>

@{
    ViewData["Title"] = "Vehicle List";
}

<h1>Vehicle List</h1>

<div class="container">
    <div class="row">
        @foreach (var vehicle in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="@vehicle.ImageUrl" alt="Car image" class="img-thumbnail mt-2" style="width: auto;" />
                    
                    <div class="card-body">
                        <h5 class="card-title">@vehicle.Make @vehicle.Model</h5>
                        <p class="card-text">
                            <strong>Type:</strong> @vehicle.VehicleType<br />
                            <strong>Year:</strong> @vehicle.Year.ToString(YearFormating)<br />
                            <strong>Price:</strong> @vehicle.Price.ToString("C")<br />
                            <strong>Color:</strong> @vehicle.Color<br />
                            <strong>Fuel Type:</strong> @vehicle.FuelType<br />
                        </p>

                        @if (vehicle.Cars != null && vehicle.Cars.Any())
                        {
                            <hr />
                            @foreach (var car in vehicle.Cars)
                            {
                                <div class="car-details mb-2">
                                    <strong>Kilometers:</strong> @car.Kilometers <br />
                                    <strong>Doors:</strong> @car.NumberOfDoors <br />
                                    <strong>Description:</strong> @car.Description <br />
                                    <strong>Transmission:</strong> @car.Transmission <br />
                                    <strong>Horse Power:</strong> @car.HorsePower <br />
                                </div>
                                <hr />
                            }
                        }
                        @if (vehicle.Buses != null && vehicle.Buses.Any())
                        {
                            <hr />
                            @foreach (var bus in vehicle.Buses)
                            {
                                <div class="car-details mb-2">
                                    <strong>Capacity:</strong> @bus.Capacity <br />
                                    <strong>HorsePower:</strong> @bus.HorsePower <br />
                                    <strong>Transmission:</strong> @bus.Transmission <br />
                                    <strong>Description:</strong> @bus.Description <br />
                                </div>
                                <hr />
                            }
                        }
                        @if (vehicle.Trucks != null && vehicle.Trucks.Any())
                        {
                            <hr />
                            @foreach (var truck in vehicle.Trucks)
                            {
                                <div class="car-details mb-2">
                                    <strong>CargoCapacity:</strong> @truck.CargoCapacity <br />
                                    <strong>EuroNumber:</strong> @truck.EuroNumber <br />
                                    <strong>Transmission:</strong> @truck.Transmission <br />
                                    <strong>HorsePower:</strong> @truck.HorsePower <br />
                                    <strong>Description:</strong> @truck.Description <br />
                                </div>
                                <hr />
                            }
                        }
                        @if (vehicle.Motorcycles != null && vehicle.Motorcycles.Any())
                        {
                            <hr />
                            @foreach (var motorcycle in vehicle.Motorcycles)
                            {
                                <div class="car-details mb-2">
                                    <strong>Kw:</strong> @motorcycle.Kw <br />
                                </div>
                                <hr />
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
