@using VehicleShowroom.Data.Models
@using static VehicleShowroom.Common.EntityValidationConstants
@model IEnumerable<Vehicle>

@{
    ViewData["Title"] = "Vehicle List";
}
<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h1>All vehicle in showroom</h1>
        <a asp-action="Create" class="btn btn-primary">Add new Vehicle</a>
</div>

<div class="container">
    <div class="row">
        @foreach (var vehicle in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="@vehicle.ImageUrl" alt="Car image" class="img-thumbnail mt-2" style="width: auto;" />
                    
                    <div class="card-body">
                        <h5 class="card-title">@vehicle.Make @vehicle.Model</h5>
                        <p class="card-text">
                            <strong>Type:</strong> @vehicle.VehicleType<br />
                            <strong>Year:</strong> @vehicle.Year.ToString(YearFormating)<br />
                            <strong>Price:</strong> @vehicle.Price.ToString("C")<br />
                            <strong>Color:</strong> @vehicle.Color<br />
                            <strong>Fuel Type:</strong> @vehicle.FuelType<br />
                        </p>
                    </div>
                    <div>
                        <a asp-action="Edit" class="btn btn-primary me-2">Edit vehicle</a>
                        <a asp-action="Delete" class="btn btn-secondary">Delete vehicle</a>
                    </div>
                </div>
            </div>
        }
    </div>
    
</div>
